<ul>
    <li><a href="@Url.Action("Insert", "Admin")" class="insert-links">Add News</a></li>
    <li><a href="@Url.Action("Insert", "Admin")" class="insert-links">Add Category</a></li>
    <li><a href="@Url.Action("Delete", "Admin")" class="insert-links">Delete News</a></li>
    <li><a href="@Url.Action("Delete", "Admin")" class="insert-links">Delete Category</a></li>
    <li><a href="@Url.Action("Edit", "Admin")" class="insert-links">Edit News</a></li>
    <li><a href="@Url.Action("Edit", "Admin")" class="insert-links">Edit Category</a></li>
</ul>

